.logo-container {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  text-align: center;
  z-index: 999;
}

.logo {
  font-family: var(--hindi-font);
  font-weight: 600;
  color: var(--deep-carmine-park);
  margin: 0;
  font-size: xx-large;
}

.tagline {
  font-family: var(--secondary-font);
  color: var(--ebony-clay);
  font-size: 22px;
  position: relative;
  transform: rotateZ(-15deg);
  left: 42px;
  top: -18px;
  font-weight: 700;
  margin: 0;
}
